<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="ru.kai.assistantschedule.status.StatusView"
            id="ru.kai.assistantschedule.status.view"
            name="Консоль">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="ru.kai.assistantschedule.status.view"
               relationship="stack"
               relative="bottomFolder"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
